*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color: #000
}

.intro{
    width:100%;
    height:400px;
    background:black
}
.intro1{
    width:100%;
    width:100%;
    height:50px
}
.header{
    margin-top:10px;
    display:flex;
    float:right;
    margin-right:50px;
    width:250px
}
.login{
    flex:1;
    font-size:25px;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    color:#fff
}
.intro2{
    width:100%;
    height:70px
}
.nav{
    display:flex;
    justify-content:flex-end;
    line-height:86px;
    margin-right:150px
}
.nav>li{
    margin-left:50px;
    cursor:pointer;
    font-size:30px
}
.nav>li>a{
    color:#fff
}
.style{
    background:#f1f2f3;
    width:80%;
    height:500px;
    text-align:center;
    font-size:50px;
    margin-left:10%;
}
.exchange{
    height:400px;
    background-image:url("flag.jpg");
}
.info{
    height:400px;
    background-image:url("information.png");
}
.rec{
    height:400px;
    background-image:url("record.png");
}
.contact{
    display:flex;
    width:100%;
    height:300px;
    background:black;
}
.con{
    flex:8;
    margin-left:80px;
    margin-top:70px;
    font-size:30px;
    font-weight:lighter;
    color:#fff
}
.contact > a{
    flex:4;
    text-align:center;
    font-size:57px;
    margin:auto;
    color:#fff
}